@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/apercu-font@1.0.0/stylesheet.min.css');


.section-spacing{
    @apply mt-28 md:mt-40 xl:mt-60
}
.primary-btn{
    @apply inline-flex justify-center items-center gap-3 text-base text-primary hover:text-white font-medium bg-transparent hover:bg-primary py-2 px-5 border border-primary transition-all duration-300 ease-in-out
}
.styled-link{
    @apply relative inline-flex items-center gap-3 text-base
}
.styled-link:after{
    @apply content-[''] block absolute left-1/2 -translate-x-1/2 bottom-[-8px] w-0 border-b border-light transition-all duration-500 ease-in-out
}
.styled-link.last-link{
    @apply text-primary
}
.styled-link.last-link:after{
    @apply border-primary
}
.styled-link:hover:after{
    @apply w-5
}
.styled-link.active:after{
    @apply w-full
}
.styled-link.mobile-link{
    @apply text-2xl font-medium
}
.styled-link.last-link.mobile-link{
    @apply text-light text-base
}
.styled-link.last-link.mobile-link.active:after{
    @apply border-light
}

.home-view .hero-heading{
    @apply relative overflow-hidden cursor-text font-apercu text-[40px] leading-[52px] sm:text-[60px] sm:leading-[75px] md:text-[90px] md:leading-[95px] lg:text-[128px] lg:leading-[136px] font-medium
}
.home-view .hero-heading span{
    @apply inline-block
}
.home-view .heading-overlay{
    transition: top .5s ease-out, left .5s ease-out, opacity .4s;
    pointer-events: none;
    z-index: 1;
    position: absolute;
    background: radial-gradient(rgba(5, 11, 16, 0), rgba(5, 11, 16, .5) 4%, rgba(5, 11, 16, .9) 8%);
    width: 400%;
    height: 400%;
    transform: translate(-50%, -50%);
    opacity: 1;
    top: 54%;
    left: 33%;
}
.home-view .hero-text{
    @apply text-2xl md:text-[28px] md:leading-[44px] lg:text-[32px] lg:leading-[48px] mt-6 md:mt-14
}

.styled-button{
    @apply relative text-lg font-medium bg-transparent p-1 border-none transition-all duration-300 ease-in-out inline-flex gap-3 items-center justify-center
}
.styled-button:after{
    @apply content-[''] block h-0.5 opacity-0 absolute left-1/2 -translate-x-1/2 bottom-[4px] w-[calc(100%_-_8px)] bg-light transition-all duration-500 ease-in-out
}
.styled-button:hover:after{
    @apply opacity-100
}

.section-header-heading{
    @apply text-3xl xl:text-5xl font-medium font-apercu max-w-[620px] mx-auto
}
.section-header-heading.left, .section-header-main-heading.left{
    @apply ml-0
}
.section-header-main-heading{
    @apply text-3xl md:text-5xl xl:text-6xl font-medium font-apercu max-w-[620px] mx-auto
}
.section-header-subtitle{
    @apply text-lg md:text-xl font-apercu text-gray-text font-medium mb-3 uppercase
}

.project-filters-amount{
    @apply absolute top-[-11px] text-xs
}


.testimonials-mobile-slide{
    @apply !w-[calc(100%_-_20px)] !h-auto
}
.testimonials-mobile-slider .swiper-pagination-bullet{
    @apply !w-[25%] !h-px
}


.career-perks{
    @apply relative pb-[620px]
}
.career-perks:before{
    background-image: linear-gradient(180deg,#040b10,rgba(4,11,16,0) 65%,rgba(4,11,16,0) 90%,#040b10),linear-gradient(90deg,transparent 70%,#040b10), url('https://www.concealed.pt/_next/static/media/map.da8bb3d0.png');
    @apply content-[''] hidden md:block absolute z-[1] right-0 w-full h-full bg-no-repeat bg-bottom md:bg-[length:1400px]
}

.about-page{
    @apply overflow-x-hidden
}
.about-page .about-images{
    @apply max-w-[1400px]
}
.about-page .about-slider{
    @apply !overflow-visible relative
}
.about-page .about-slider:before, .about-page .about-slider:after{
    @apply absolute top-0 h-full w-full z-10 content-[""]
}
.about-page .about-slider:before{
    background: linear-gradient(-90deg, rgba(4, 11, 16, 0), #040b10 10%);
    @apply right-full
}
.about-page .about-slider:after{
    background: linear-gradient(90deg, rgba(4, 11, 16, 0), #040b10 10%);
    @apply left-full
}



input[type=text], input[type=email], input[type=number]{
    @apply bg-transparent font-medium text-2xl pt-0.5 w-full outline-0 border-b border-light/20 hover:border-light focus:border-light transition duration-300 ease-in-out
}
form label{
    @apply block text-lg text-[#afafaf] mb-2
}
form label.checkbox-label{
    @apply mb-0 text-light text-base cursor-pointer
}


.custom-checkbox{
    @apply bg-transparent rounded border border-[#363b3f] group-hover:border-primary focus:border-primary w-4 h-4 flex flex-shrink-0 justify-center items-center cursor-pointer transition duration-300 ease-in-out
}
input:checked + div {
    @apply border-blue-500;
}
input:checked + div svg {
    @apply block;
}

.hamburger-toggle{
    height: 14px;
    width: 18px;
    flex-direction: column;
    justify-content: space-between;
}
.hamburger-toggle .hamburger-bar{
    @apply bg-light h-0.5 w-full rounded-[10px] transition-transform duration-[.4s] ease-in-out
}
.hamburger-toggle.toggle-open .hamburger-bar:nth-child(1){
    @apply transform rotate-45
}
.hamburger-toggle.toggle-open .hamburger-bar:nth-child(2){
    @apply transform scale-y-0
}
.hamburger-toggle.toggle-open .hamburger-bar:nth-child(3){
    @apply transform -rotate-45
}


/* Process Page CSS */
.process-page .process-title{
    @apply text-2xl md:text-3xl mb-4 md:mb-5 font-apercu font-medium
}
.process-page .process-desc{
    @apply text-base md:text-lg max-md:mb-5
}
